.invoice-list {
  margin-top: 8px;
  background-color: var(--light);
  overflow: hidden;
}

.invoice-list-header {
  padding: 8px;
  background-color: var(--accent);
}

.invoice-list-body {
}

.invoice-list-item {
  display: grid;
  grid-template-columns: 36px 1fr;
  grid-template-rows: auto auto 30px;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid var(--accent);
  filter: drop-shadow(2px 4px 6px black);
  background-color: #fff;
}

.invoice-list-icon {
  grid-row: 1 / span 3;
  width: 24px;
  height: 24px;
}
